#google-btn {
  border-radius: 0px;
}

#answer {
  margin: 2% 2% 1% 0%;
  padding: 18px 30px;
  border: 2px solid #f8f8f8;
  background-color: #f8f8f8;
  font-size: 16px;
  line-height: 1.5;
  box-shadow: 0 4px 8px 0 rgba(163, 73, 73, 0.2),
  0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#commentsDiv {
  margin-top: 20px;
}

#comments {
  border: 2px solid #f4ff81;
  background-color: #f4ff81;
  word-wrap: break-word;
  font-size: 16px;
  margin: 2% 2% 10px 14%;
  padding: 2px 2px 2px 2px;
  min-height: 50px;
  width: 18em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  resize: vertical;
}

#signIn {
  margin-top: 6%;
  margin-right: 20px;
  border-radius: 0px;
}

#addComment {
  margin: 2% 0% 1% 1%;
}

#center-title {
  text-align: center;
}

#thumbnail {
  margin-top: 12px;
  max-width: 80%;
  height: auto;
}

#username {
  /* padding-top: 12%; */
  margin-right: 30px;
  font-size: 16px;
}

#title3 {
  margin: 2.5px 0px 0px 7px;
}

#img {
  float: left;
  margin: 2px 6px;
  max-width: 23%;
  height: auto;  
}

#h-title {
  padding-top: 7px;
}

#middleContent {
  position: absolute;
  left: 50;
}

#options {
  /* padding-top: 10px; */
  margin: 0px 10px;
}

#content {
  padding-top: 2%;
  text-align: center;
  padding-bottom: 4%;
}

footer {
  background: #263238;
  color: #eceff1;
}

#div-title {
  height: 53px;
  background-color: #006064;
}

#footer {
  position: absolute;
  bottom:0;
  width:100%;
}

#sign-div {
  margin: auto;
  margin-top: 5%;
  max-width: 300px;
  text-align: center;
  /* border: 2px solid #f8f8f8; */
  /* background-color: #f8f8f8; */
  font-size: 18px;
  line-height: 1.5;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/********************************************************************/
#title2 {
	letter-spacing: 3px;
	color: #3399ff;
	font-size: 60px;
	text-shadow: 2px 2px 4px #1a1a1a;
	margin-left: 33.6%;
}

#mainpage {
  position: relative;
  top: 70px;
	margin: 10px 10px 10px 10px;
	margin-left: 41.5%;
  font-size: 30px;
}

#mainpagetitle {
	color: #009933;
	margin-left: 39.4%;
  position: relative;
  top:40px;
	text-shadow: 1px 1px 2px #1a1a1a;
  font-size: 37px;
}

#courses {
  position: relative;
  top: 70px;
	margin: 10px 10px 10px 10px;
	margin-left: 40.3%;
  font-size: 30px;
}

#coursesTitle {
	color: #009933;
	margin-left: 40.9%;
  position: relative;
  top:40px;
	text-shadow: 1px 1px 2px #1a1a1a;
  font-size: 37px;
}

#login {
  position: relative;
  top: 70px;
	margin: 10px 10px 10px 10px;
	margin-left: 40.3%;
  font-size: 30px;
}

#loginTitle {
	color: #009933;
	margin-left: 42.9%;
  position: relative;
  top:40px;
	text-shadow: 1px 1px 2px #1a1a1a;
  font-size: 37px;
}

.button {
  border-radius: 4px;
  background-color: #0073e6;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 10px;
  width: 220px;
  transition: all 0.3s;
  cursor: pointer;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

mark {
	background-color: yellow;
}

::selection {
   background: yellow; /* Safari */
   }
::-moz-selection {
   background: yellow; /* Firefox */
}

.div1 {
	display: inline;
}

.div2 {
	display: inline;
}

#circle {
  border-radius: 50%;
  width: 6px;
  height: 6px;
  padding: 8px;
  background: red;
  border: 2px solid black;
  margin: 6px;
  color: black;
  text-align: center;
  font: 8px Arial, sans-serif;
  display: inline-block;

}

#addcomment {
  margin: 1px 10px 1px 1px;
  background-color: #0073e6; /* Green */
  border: 1px solid #0073e6;
  color: white;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  float: left;
	box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24),0 10px 25px 0 rgba(0,0,0,0.19);
}
#addcomment:hover {
	background-color: #0059b3;
	border: 1px solid #0059b3;
}
#addcomment:disabled{
	opacity: 0.4;
  cursor: not-allowed;
}

#popup {
	margin: 30px 30px 30px 30px;
}
#popup-comment {
	text-align: center;
	color: #0080ff;
	text-shadow: 0.5px 0.5px 1px #1a1a1a;

}

#submit-text {
	font-size: 20px;
	width: 80%;
	padding: 6px 6px 6px 6px;
	margin: 1px 10px 12px 21.5px;
}
#submit {
  background-color: #0073e6; /* Green */
  border: 2px solid #0073e6;
  color: white;
	margin-left: 21%;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
	box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24),0 10px 25px 0 rgba(0,0,0,0.19);
}
#submit:hover {
	background-color: #0059b3;
	border: 2px solid #0059b3;
}

.AnswerClass {
	border: 4px solid black,
	width: 40%,
	height: 600px,
	padding: 10px
}

.highlight { background-color: yellow; }

body {
    background-color: #eceff1;
}
